---
interface Props {}

const {} = Astro.props;
---
<div class="mx-auto max-w-7xl px-6 lg:px-8 py-12">
    <!-- Konten Diubah: Judul disesuaikan dengan logo produk -->
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900 mb-10">
        Menyediakan Suku Cadang dari Merek Terkemuka
    </h2>
    <div
             class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
         <!-- Logo 1: Sesuai daftar produk -->
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/komatsu.png" alt="Komatsu" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/caterpillar.png" alt="Caterpillar" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/shacman.png" alt="shacman" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/deutz.svg" alt="deutz" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/toyota.svg" alt="toyota" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/hino.png" alt="hino" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/nissan.svg" alt="nissan" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/cummins.svg" alt="cummins" width="158"
              height="48">
         <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
                           src="https://pilarindojayaabadi.com/bomag.png" alt="bomag" width="158"
              height="48">

    </div>
    <div class="mt-8 flex justify-center">
        <p class="relative rounded-full px-4 py-1.5 text-sm leading-6 text-gray-600 ring-1 ring-inset ring-gray-900/10 hover:ring-gray-900/20">
             <!-- Konten Diubah: Stat downtime diganti dengan info relevan -->
            <span class="hidden md:inline">Jaringan pemasok global kami menjamin keandalan dan efisiensi.</span>
            <a href="" class="font-semibold text-blue-900">
                <span class="absolute inset-0" aria-hidden="true"></span>
                 <!-- Konten Diubah: Teks link diganti -->
                Pelajari Misi Kami <span aria-hidden="true">&rarr;</span>
            </a>
        </p>
    </div>
</div>
